body{
    color:rgb(219, 0, 135);
    background:rgb(90, 0, 174);
}
.heading{
    width:80%;
    font-size:23px;
}
.name_of_objects, #result_object_name, #result_object_accuracy{
    color:rgb(0, 241, 197);
}
#camera{
    border:2px inset rgb(25, 255, 25);
    width:350px;
    height:300px;
}
